.title_style {
    text-align: center;
    font-family: Arial;
    font-size: xx-large;
    color: white;
}

body {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background-color: black;
}

.square {
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
